extends ../template

block varibles
    - var title = "Блог"

block content
    h1 Блог
    ul
        li
            h2 Заголовок статьи
            p Жил был...
        li
            h2 Еще статья
            p воевал очень долго
        li
            h2 Последняя статья
            p и жили они долго и счастье