extends ../template

block varibles
    - var title = "Добро Пожаловать"

block content
   
    .content
        .bgr
        button#flipper-rotate.flipper-rotate.content-button Авторизироваться
        .flipper#flipper
            .flipper__front
                section.visitcard 
                        div.visitcard__foto
                            img.foto(src="./images/foto.png", alt="")
                        div.visitcard__name
                            span.nametext Владислав Короленко
                        div.visitcard__description
                            p.descriptiontext Личный сайт веб разработчика
                        
                        div.visitcard__blocklink
                            div.fb
                                a(href="http://www.facebook.com/profile.php?id=100022800711759") 
                                    svg(class="visitcard-icon")
                                        use(xlink:href="images/sprite/sprite.svg#facebook-logo")
                            div.github
                                a(href="http://github.com/MrVolKing?tab=repositories")
                                    svg(class="visitcard-icon")
                                        use(xlink:href="images/sprite/sprite.svg#github")
                            div.in
                                a(href="#")
                                    svg(class="visitcard-icon")
                                        use(xlink:href="images/sprite/sprite.svg#in")
                        div.visitcard__blockbutton
                            div.visitcard-blockbutton1
                                a(href="./my-works.html").visitcard-button1
                                    span.text-link Мои Работы
                            div.visitcard-blockbutton2
                                a(href="./about.html").visitcard-button2
                                    span.text-link Обо мне
                            div.visitcard-blockbutton3
                                a(href="./blog.html").visitcard-button3
                                    span.text-link Блог
            .flipper__back
                section.visitcard.visitcard_login
                    .block-subtitle.block-subtitle_color АВТОРИЗИРУЙТЕСЬ
                    .inputs-block
                        .input-block.input__ligon
                            .block-svg
                                svg(class="input-icon")
                                    use(xlink:href="images/sprite/sprite.svg#login")
                            input(type="text", class="input input-icon1", placeholder="Логин")
                        .input-block.input__pasword
                            .block-svg
                                svg(class="input-icon")
                                    use(xlink:href="images/sprite/sprite.svg#password")
                            input(type="text", class="input input-icon2", placeholder="Пароль")
                    .capcha
                        .one 
                            label
                                input(class="checkbox", type="checkbox", name="checkbox-test")
                                span.checkbox-custom
                                span.label Я человек
                        .twoo
                            .twoo__title
                                span Вы точно не робот?
                            .twoo__content-input
                                label.radio1
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label Да
                                label.radio2
                                    input(class="radio", type="radio", name="radio-test")
                                    span.radio-custom
                                    span.label Не уверен

                    div.visitcard__blockbutton.visitcard__blockbutton-login
                        div.visitcard-blockbutton1.visitcard-blockbutton1_login
                            a(href="./index.html").visitcard-button1
                                    span.text-link.text-link_login1 На главную
                        div.visitcard-blockbutton3.visitcard-blockbutton2_login
                            a(href="#").visitcard-button3
                                    span.text-link.text-link_login2 Войти
        footer.text
            p © Влад Короленко | 2018


                