block varibles

doctype html
html
    head
        meta(charset="UTF-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(content="width=devise-width, initial-scale=1" name="viewport")
        meta(content="ie-edge" http-equiv="x-ua-compatible")
        link(rel="stylesheet", href="./styles/app.min.css?5")
        script(src='./scripts/app.js?5' defer)
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
    
    body
        block content


    
        //- include common/menu.pug
